<!doctype html>
<html>
<head>
    <title>DX-Alert-Demo</title>
    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    	#container { max-width: 70%; margin: 0 auto; }
    	.common-title { text-align: center;}
        .panel {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="container">
        <h1 class="common-title">DX-Alert-Demo</h1>
        {% block body %}{% endblock %}
    </div>
</body>
</html>
